<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="arrow-back-circle-outline" color="danger" (click)="confirmExit()"></ion-icon>
      <ion-title class="ellipsis" mode="md">{{ title }}</ion-title>
      <ion-chip slot="end" color="success" *ngIf="state && state.players" (click)="openPlayersModal()">
        <ion-icon name="people-outline" ></ion-icon>
        <ion-label>{{ state.activePlayers }}</ion-label>
      </ion-chip>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="fireworks" class="pyro">
    <div class="before"></div>
    <div class="after"></div>
  </div>
  <ion-fab class="chat" horizontal="center" vertical="start" slot="fixed">
    <ion-fab-button [color]="currentGame.fixedDealer && currentGame.teams && state.status ? 'dark' : 'light'" (click)="openChat()" size="small">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="help" horizontal="end" vertical="start" slot="fixed">
    <ion-fab-button color="light" (click)="openTutorialModal()" size="small">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="my-balance" horizontal="start" vertical="start">
    <ion-chip outline *ngIf="state.money" (click)="!currentPlayer.isAdmin && placeBet(currentPlayer)">
      <ion-icon name="server" color="warning"></ion-icon>
      <ion-label>
        <ion-text>{{ currentPlayer.balance }}</ion-text>
        <ion-text *ngIf="currentPlayer.bet"> | </ion-text>
        <ion-text *ngIf="currentPlayer.bet" color="success">{{ currentPlayer.bet }}</ion-text>
      </ion-label>
    </ion-chip>
  </ion-fab>
  <div class="cards-area">
    <div class="other-cards-container">
      <ion-grid class="board-container">
        <ion-row *ngIf="!(currentGame.fixedDealer && currentGame.teams)" class="players-container">
          <ion-col size="4" class="player-status" *ngFor="let player of playersBoard; let i = index">
            <ion-chip [ngClass]="{'canMove': player.canMove}" *ngIf="player" [ngSwitch]="player.lastMove" [disabled]="i == 2">
              <ion-icon *ngSwitchCase="3" name="hand-left-outline" color="danger"></ion-icon>
              <ion-icon *ngSwitchCase="4" name="thumbs-up-outline" color="success"></ion-icon>
              <ion-icon *ngSwitchCase="5" name="repeat-outline" color="warning"></ion-icon>
              <div>{{ player.name }}</div>
            </ion-chip>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="currentGame.fixedDealer && currentGame.teams" class="players-container">
          <ng-container *ngFor="let team of playersBoard">
            <ion-col class="player-status">
              <ion-chip>
                <ion-label>{{ team.name }}</ion-label>
              </ion-chip>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </div>
    <div class="cards-container">
      <div *ngIf="currentGame.fixedDealer && currentGame.teams && state.status" id="hand" mwlDraggable class="hiding-hand"
      (dragStart)="onHandDragStart($event)" (dragEnd)="onHandDragEnd($event)" (dragging)="onHandDragging($event)">
        <img src="./assets/hand.png">
      </div>
      <ng-container *ngIf="currentPlayer.cards.length > 1">
        <ion-grid>
          <ion-row>
            <ion-col class="card multi-card" *ngFor="let card of currentPlayer.cards">
              <div class="flip-card-front"><img src="./assets/cardSets/{{state.cardSet}}/-1.png" /></div>
              <div class="flip-card-back"><img src="./assets/cardSets/{{state.cardSet}}/{{card}}.png" /></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
      <ng-container *ngIf="currentPlayer.cards.length <= 1">
        <div class="card" #card>
          <img *ngIf="tempCard != undefined" src="./assets/cardSets/{{state.cardSet}}/{{tempCard}}.png" />
        </div>
        <div class="ground" #ground>
          <img *ngIf="tempGround != undefined" src="./assets/cardSets/{{state.cardSet}}/{{tempGround}}.png" />
        </div>
      </ng-container>
    </div>
  </div>
  <ion-fab class="action-button" horizontal="center" slot="fixed">
    <ion-fab-button color="warning" [disabled]="!((currentPlayer.isAdmin || (!currentPlayer.isAdmin && currentPlayer.canMove)) && state.activePlayers >= currentGame.minPlayers)">
      <ion-icon name="caret-up-outline"></ion-icon>
    </ion-fab-button>
    <ng-container *ngFor="let move of currentPlayer.moves">
      <ion-fab-list *ngIf="move.status == state.status" [side]="move.side">
        <ion-fab-button class="fab" (click)="confirmMove(move)" [ngClass]="{'disabled': move.disabled}" [disabled]="move.disabled">
          <ion-icon [name]="move.icon" [ngClass]="{'rotate-right': move.rotateIcon}"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ng-container>
  </ion-fab>
</ion-content>