.fab {
    width: 15vw !important;
    height: 15vw !important;
    ion-icon {
        font-size: 10vw;
    }
}

.cards-container {
    width: 100%;
    height: 60%;
    text-align: center;
}

.other-cards-container {
    height: 40%;
}

.card {
    height: 100%;
    img {
        height: 100%;
        border: 0.05px solid lightgrey;
        border-radius: 5vw;
        box-shadow: 0 5px 20px 0 lightgrey;
        filter: contrast(1.2);
    }
}

.ground {
    height: 100%;
    img {
        height: 100%;
        border: 0.05px solid lightgrey;
        border-radius: 5vw;
        box-shadow: 0 5px 20px 0 lightgrey;
        filter: contrast(1.2);
    }
    transform: translateX(100%) translateY(-100%) rotateY(180deg);
}

.cards-area {
    height: 60%;
}

.action-button {
    bottom: 15vh;
}

.my-balance {
    position: fixed;
    padding-top: 1vh;
}

.help {
    top: 1vh;
    right: 1vw;
}

.disabled {
    opacity: 0.4 !important;
}