<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="arrow-back-circle-outline" color="danger" (click)="confirmExit()"></ion-icon>
      <ion-title mode="md">{{ title }}</ion-title>
      <ng-container *ngIf="state && state.players">
        <ion-icon name="people-outline" (click)="openPlayersModal()"></ion-icon>
        <ion-badge color="success" slot="end" (click)="openPlayersModal()">
          {{ state.activePlayers }}
        </ion-badge>
      </ng-container>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab class="help" horizontal="end" vertical="start" slot="fixed">
    <ion-fab-button color="light" (click)="openTutorialModal()" size="small">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="my-balance" horizontal="start" vertical="start">
    <ion-chip outline *ngIf="state.money">
      <ion-icon name="server" color="warning"></ion-icon>
      <ion-label>{{ currentPlayer.balance }}</ion-label>
    </ion-chip>
  </ion-fab>
  <div class="cards-area">
    <div class="other-cards-container">
    </div>
    <div *ngIf="currentPlayer.cards.length > 0" class="cards-container">
      <div class="card">
        <img src="./assets/cardSets/{{state.cardSet}}/{{currentPlayer.cards[0]}}.png" />
      </div>
    </div>
  </div>
  <ion-fab class="action-button" horizontal="center" slot="fixed">
    <ion-fab-button color="warning" [disabled]="!((currentPlayer.isAdmin || (!currentPlayer.isAdmin && currentPlayer.canMove)) && state.activePlayers >= currentGame.minPlayers && allPaid)">
      <ion-icon name="caret-up-outline"></ion-icon>
    </ion-fab-button>
    <ng-container *ngFor="let move of currentPlayer.moves">
      <ion-fab-list *ngIf="move.status == state.status" [side]="move.side">
        <ion-fab-button class="fab" (click)="sendMove(move)" [ngClass]="{'disabled': move.disabled}" [disabled]="move.disabled">
          <ion-icon [name]="move.icon" [ngClass]="{'rotate-right': move.rotateIcon}"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ng-container>
  </ion-fab>
</ion-content>