<ion-header>
  <ion-toolbar>
    <ion-title>Guida</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical">
  <div *ngIf="data" class="ion-padding-horizontal">
    <h1>{{ data.title }}</h1>
    <p class="tutorial-subtitle">{{ data.subtitle }}</p>
  </div>
  <div *ngIf="!data" class="ion-padding-horizontal">
    <h1>Tutorial non trovato</h1>
  </div>
  <ion-list *ngIf="data">
    <ng-container *ngFor="let section of data.sections">
      <ion-list-header>
        {{ section.title }}
      </ion-list-header>
      <ng-container *ngFor="let item of section.items">
        <ion-item *ngIf="item.icon && !item.img">
          <ion-avatar slot="start">
            <ion-icon class="item-icon" [name]="item.icon"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>{{ item.title }}</h2>
            <p style="white-space: normal">{{ item.subtitle }}</p>
          </ion-label>
        </ion-item>
        <ion-card *ngIf="!item.icon && item.img">
          <img [src]= "item.img" />
          <ion-card-content>
            {{ item.title }}
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
