<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button color="dark" (click)="dismiss()">
              <ion-icon name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Giocatori online</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ng-container *ngIf="!(currentPlayer.isAdmin && players.length > 1 && !status)" >
    <ion-item-sliding *ngFor="let player of players" [ngClass]="{'canMove': player.canMove}">
      <ion-item class="player-container" [disabled]="player.ghost">
        <ion-label [ngClass]="{'myself': player.name == currentPlayer.name}">{{ player.name }}</ion-label>
        <div *ngIf="player.cards.length > 0 && player.visible || (status && player.name == currentPlayer.name)" class="cards-container">
          <div class="card">
            <img src="./assets/cardSets/{{cardSet}}/{{player.cards[0]}}.png" />
          </div>
        </div>
        <ion-icon *ngIf="player.isAdmin" name="albums-outline" class="rotate90"></ion-icon>
        <ion-chip outline *ngIf="moneyMode" (click)="currentPlayer.isAdmin && changeBalance(player)">
          <ion-icon name="server" color="warning"></ion-icon>
          <ion-label>{{ player.balance }}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option *ngIf="currentPlayer.isAdmin && currentPlayer.name != player.name && !status" (click)="remove(player)">Rimuovi</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ng-container>
  <ion-reorder-group *ngIf="currentPlayer.isAdmin && players.length > 1 && !status" (ionItemReorder)="reorderPlayers($event)" disabled="false">
    <ion-item-sliding *ngFor="let player of players" [ngClass]="{'canMove': player.canMove}">
      <ion-item class="player-container" [disabled]="player.ghost">
        <ion-label [ngClass]="{'myself': player.name == currentPlayer.name}">{{ player.name }}</ion-label>
        <div *ngIf="player.cards.length > 0 && player.visible || (status && player.name == currentPlayer.name)" class="cards-container">
          <div class="card">
            <img src="./assets/cardSets/{{cardSet}}/{{player.cards[0]}}.png" />
          </div>
        </div>
        <ion-icon *ngIf="player.isAdmin" name="albums-outline" class="rotate90"></ion-icon>
        <ion-chip outline *ngIf="moneyMode" (click)="currentPlayer.isAdmin && !status && changeBalance(player)">
          <ion-icon name="server" color="warning"></ion-icon>
          <ion-label>{{ player.balance }}</ion-label>
        </ion-chip>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option *ngIf="currentPlayer.isAdmin && currentPlayer.name != player.name && !status"  (click)="remove(player)">Rimuovi</ion-item-option>
        <ion-item-option *ngIf="currentPlayer.isAdmin && currentPlayer.name != player.name && !player.ghost && !status"  (click)="setGhost(player, true)">Spettatore</ion-item-option>
        <ion-item-option *ngIf="currentPlayer.isAdmin && currentPlayer.name != player.name && player.ghost && !status"  (click)="setGhost(player, false)">Giocatore</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-reorder-group>
  <ion-item *ngIf="!status" class="ion-padding-top" (click)="shareLink()">
    <ion-label color="primary">Link di invito</ion-label>
  </ion-item>
  <ion-item *ngIf="status" class="ion-padding-top" (click)="shareLink()" disabled="true">
    <ion-label color="primary">Link di invito</ion-label>
  </ion-item>
</ion-content>
