<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="arrow-back-circle-outline" color="danger" (click)="confirmExit()"></ion-icon>
      <ion-title mode="md">{{ title }}</ion-title>
      <ng-container *ngIf="state && state.players">
        <ion-icon name="people-outline" (click)="openPlayersModal()"></ion-icon>
        <ion-badge color="success" slot="end" (click)="openPlayersModal()">
          {{ state.players.length }}
        </ion-badge>
      </ng-container>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="caret-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      Ciao
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
