<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="arrow-back-circle-outline" color="danger" (click)="confirmExit()"></ion-icon>
      <ion-title mode="md">{{ title }}</ion-title>
      <ng-container *ngIf="state && state.players">
        <ion-icon name="people-outline" (click)="openPlayersModal()"></ion-icon>
        <ion-badge color="success" slot="end" (click)="openPlayersModal()">
          {{ state.players.length }}
        </ion-badge>
      </ng-container>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button color="warning">
      <ion-icon name="caret-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list *ngIf="currentPlayer.moves.length > 0" side="top">
      <ion-fab-button class="fab" (click)="sendMove(currentPlayer.moves[0])">{{ currentPlayer.moves[0].name }}</ion-fab-button>
    </ion-fab-list>
    <ion-fab-list *ngIf="currentPlayer.moves.length > 1" side="bottom">
      <ion-fab-button class="fab" (click)="sendMove(currentPlayer.moves[1])">{{ currentPlayer.moves[1].name }}</ion-fab-button>
    </ion-fab-list>
    <ion-fab-list *ngIf="currentPlayer.moves.length > 2" side="start">
      <ion-fab-button class="fab" (click)="sendMove(currentPlayer.moves[2])">{{ currentPlayer.moves[2].name }}</ion-fab-button>
    </ion-fab-list>
    <ion-fab-list *ngIf="currentPlayer.moves.length > 3" side="end">
      <ion-fab-button class="fab" (click)="sendMove(currentPlayer.moves[3])">{{ currentPlayer.moves[3].name }}</ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
