ion-content{
    --background: transparent;
}

.center {
    margin: auto 5vw;
    width: 90vw;
    padding: 15vh 5vw;
    overflow: scroll;
}

.title {
    font-size: calc(4vw + 4vh);
    text-align: center;
    font-weight: bold;
}

.from-game {
    font-style: italic;
}

.subtitle {
    font-size: calc(2vw + 2vh);
}

.close {
    zoom: 1.5;
    position: absolute;
    right: 5vw;
}