<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button color="dark" (click)="dismiss()">
              <ion-icon name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Giocatori online</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-fab class="help" horizontal="end" vertical="start" slot="fixed">
    <ion-fab-button color="light" (click)="openTutorialModal()" size="small">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-reorder-group (ionItemReorder)="reorderPlayers($event)" [disabled]="!(currentPlayer.isAdmin && players.length > 1 && !status)">
    <ion-item-sliding *ngFor="let player of players" [ngClass]="{'canMove': player.canMove}">
      <ion-item class="player-container" [disabled]="player.ghost">
        <ion-label [ngClass]="{'myself': player.name == currentPlayer.name}">{{ player.name }}</ion-label>
        <div *ngIf="player.cards.length > 0 && player.visible || (status && player.cards.length > 0 && (player.name == currentPlayer.name || currentPlayer.ghost))" class="cards-container">
          <div class="card">
            <img src="./assets/cardSets/{{cardSet.id}}/{{player.cards[0]}}.png" />
          </div>
        </div>
        <div *ngIf="status && player.isAdmin && ground.length > 0" class="ground-container">
          <div class="card">
            <img src="./assets/cardSets/{{cardSet.id}}/{{ground[0]}}.png" />
          </div>
        </div>
        <ion-icon *ngIf="player.isAdmin" name="albums-outline" class="rotate-right"></ion-icon>
        <ion-chip outline *ngIf="moneyMode && !player.haveToPay" (click)="currentPlayer.isAdmin && !status && changeBalance(player)">
          <ion-icon name="server" color="warning"></ion-icon>
          <ion-label>{{ player.balance }}</ion-label>
        </ion-chip>
        <ion-chip [outline]="player.name != currentPlayer.name" color="danger" *ngIf="moneyMode && player.haveToPay" (click)="player.name == currentPlayer.name && onClickPay()">
          <ion-label>Paga</ion-label>
        </ion-chip>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option *ngIf="currentPlayer.isAdmin && currentPlayer.name != player.name && !status"  (click)="remove(player)">Rimuovi</ion-item-option>
        <ion-item-option *ngIf="(currentPlayer.isAdmin || player.name == currentPlayer.name) && !player.ghost && !status"  (click)="setGhost(player, true)">Spettatore</ion-item-option>
        <ion-item-option *ngIf="(currentPlayer.isAdmin || player.name == currentPlayer.name) && player.ghost && !status"  (click)="setGhost(player, false)">Giocatore</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-reorder-group>
  <ion-item class="ion-padding-top" lines="none">
    <ion-label *ngIf="code">
      Codice partita: {{ code }}
    </ion-label>
  </ion-item>
  <ion-item *ngIf="cardSet" lines="none">
    <ion-label *ngIf="code">
      Mazzo: {{ cardSet.name }}
    </ion-label>
  </ion-item>
  <ion-item *ngIf="cardSet" lines="none">
    <ion-label *ngIf="code">
      Gioco: {{ game.name }}
    </ion-label>
  </ion-item>
  <ion-item *ngIf="!status" (click)="shareLink()">
    <ion-label color="primary">Link di invito</ion-label>
  </ion-item>
  <ion-item *ngIf="status" (click)="shareLink()" disabled="true">
    <ion-label color="primary">Link di invito</ion-label>
  </ion-item>
</ion-content>